
.main-app {
    background-color: #F6F8FC;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 8fr auto;
    grid-template-columns: minmax(180px, 230px) 1fr;
    grid-template-areas: 
        "h h"
        "a m"
        "f f";
}

.header {
    grid-area: h;
    
}

.aside{
    grid-area: a;
    
}

.main {
    grid-area: m;
    background-color: #ffffff;
    border-radius: 15px;

}

.footer {
    grid-area: f;
    color: rgb(0, 0, 0);
}