.app-header {
    display: flex;
    align-items: center;
    background: #d3d2d2;
    color: rgb(0, 0, 0);
    padding: 25px 10px;
}

h1{
    font-weight: 600;
    margin-left: 5px;
}

img{
    max-width: 30px;
    margin-left: 5px; 
}

.app-header .back {
    flex-grow: 1;
}

.app-header nav a:not(:last-child) {
    margin-right: 10px;
}

.app-header section.container>section {
    flex-grow: 1;
}

