
.email-preview {
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
    padding: 10px 15px;
    border-bottom: 1px solid #ddd;
    color: black;
    font-weight: bold;
    cursor: pointer;
    background-color: #fff;
    flex-direction: row;
}

.email-preview.read {
    font-weight: normal;
    background-color: #e9e9e9; /* Background for read emails */
}


.from {
    margin-right: 15px;
}

.subject {
    flex-grow: 1;
    text-overflow: ellipsis /*?works for 1 line text.*/
}

.sent-at {
    color: grey;
    margin-left: 15px;
    margin-right: 10px;
}

.email-actions {
    margin-left: auto;
}


    